{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/auth-page.css' %}" />
    <title>Reset Password</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form class="sign-in-form" method="post">
			  {% csrf_token %}
			  <img src="{% static 'images/dopedata_logo_new_512.png' %}" alt="DopeData" width="250px" style="padding-bottom: 50px;">
			<h2 class="title">Reset Password</h2>
			<h4 style="color: green;">{{message}}</h4>
			<h4 style="color: red;">{{error}}</h4>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Email" name="email" required/>
            </div>
            <input type="submit" name="sendotp" value="Send Link" class="btn solid" />
            
          </form>
          <form class="sign-up-form" method="post">
			{% csrf_token %}
			<img src="{% static 'images/dopedata_logo_new_512.png' %}" alt="DopeData" width="250px" style="padding-bottom: 50px;">
			<h2 class="title">Reset Password</h2>
			<h4 style="color: green;">Reset Password email sent!! </h4>
			<h4 style="color: green;">Click Link in the email to reset password. </h4>           
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Remember Password ?</h3>
           <p>
				Go back to sign in to your account.
			</p>
			<form method="POST">
				{% csrf_token %}
				<input type="submit" class="btn transparent" id="sign-up-btn" value="signin" name="signin">
			</form>
		  </div>
		</div>
		
		<div class="panel right-panel">
			<div class="content">
			  <h3>Done resetting password ?</h3>
			  <p>
				Go back to sign in to your account.
			  </p>
			  <form method="POST">
					{% csrf_token %}
					<input type="submit" class="btn transparent" id="sign-up-btn" value="signin" name="signin">
				</form>
			</div>
		  </div>
      </div>
    </div>

	<script src="{% static 'js/auth-page.js' %}"></script>
	<script>
		const container1 = document.querySelector(".container");

		if ("{{page}}" == "otp"){
			container1.classList.add("sign-in-mode");
		}
		else if ("{{page}}" == "reset"){
			container1.classList.add("sign-up-mode");
		}
	</script>
  </body>
</html>